
@charset "UTF-8";
/*
	作・2023/10/10

*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.navbar-brand{
background-color: white;
}

.navbar-toggle{
  width: 66px;
  height: 66px;
  background-color:white ;
  border-color: red;
  border: black;
}




/* 드롭다운 메뉴 슬라이딩 애니메이션 */
.navbar-toggle .dropdown-menu {
  position: absolute;
  top: 56px; /* 네비게이션 바의 높이에 맞게 조절 */
  right: -100%; /* 초기에 왼쪽에 숨겨진 상태 */
  height: 100vw;
}

.navbar-toggle.show .dropdown-menu {
  right: 0; /* 표시될 때 왼쪽으로 슬라이딩 */
  transition: all 1s;
}





.color-3{
  background-color: #427D9D;
}
.container{
  width: 100%;
  height: 500px;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  
}

.box-link{
  width: 25%;
  height: 25%;
  background-color: rgb(255, 255, 255);
  margin: 5px; 
  border-radius: 10px;
  border: solid rgb(50, 152, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: rgb(73, 164, 255);
  border: none;
  font-size: 5vw;
  cursor: pointer;
  text-align: center;
  font-family: sans-serif;
  transition: background-color 0.2s, color 0.2s;
}

.link-button:hover {
  background-color: rgb(73, 164, 255);
  color: rgb(255, 255, 255);
  border-radius: 5px;
}






